<!DOCTYPE html>
    <html lang="en" ng-app="wreckhelpApp">
        <head>
            <title>WreckHelp | Contact Us</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <link href="css/bootstrap.min.css" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
            <link href="css/style.css" rel="stylesheet">
            <link rel="shortcut icon" type="image/x-icon" href="images/icon/wreckhelp.ico"/>
        </head>
        <body>
        <header class="sub__header">
            <div class="container">
                <nav class="navbar navbar-default" role="navigation"> 
                    <div class="navbar-header">
                        <h1 class="navbar-brand"><a href="index.html">WreckHelp</a></h1>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1,#bs-example-navbar-collapse-2"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div class="navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="selfhelp.html">Self Help</a></li>
                            <li><a href="roadmap.html">Road Maps</a></li>
                            <li><a href="aboutus.html">About Us</a></li>
                            <li class="active"><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div ng-controller="ContactController">
            <section class="main__middle__container">
                <section class="recent-posts">
                    <div class="row heading__block contact_pic nothing no-margin">
                        <div class="container text-center">
                            <h1 style="color:white;text-align:left ">Contact Us</h1>
                            <p class="big-paragraph" style="color:white;text-align:left ">Get Help Anytime Anywhere</p>
                        </div>
                    </div>
                    <br/>
                    <div class="container">
                        <div class="col-md-4">
                            <ul class="breadcrumb breadcrumb-arrow">
                                <li><a href="index.html">Home</a> <span class="divider"></span></li>
                                <li class="active">Contact Us</li>
                            </ul>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.8959262835447!2d88.36074775042673!3d22.545571039571563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0276e1fabe6cdd%3A0x944443b2facce514!2s154%2C+Park+St%2C+Mullick+Bazar%2C+Beniapukur%2C+Kolkata%2C+West+Bengal+700014!5e0!3m2!1sen!2sin!4v1478502679464" width="100%" height="350" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
                        <div class="row">
                            <div class="col-md-8">
                            <h3>Send us a message</h3>
                            <hr>
                            <p>Our friendly customer service representatives are committed to answering all your questions and meeting any need you may have. We would love to hear from you! Please fill out the form below so we may assist you.</p>
                            <br/>
                            <p id="feedback"></p>
                            <form role="form" id="contact-form" name="feedbackForm" method="post" ng-submit="sendFeedback()" action="" class="form-horizontal" novalidate>
                                <div class="form-group col-sm-12" ng-class="{ 'has-error' : feedbackForm.name.$error.required && !feedbackForm.name.$pristine }">
                                    <label for="name" class="col-sm-2 control-label" >Name:* </label>
                                    <div class="col-sm-10">
                                        <input required type="text" class="form-control" id="name" name="name" placeholder="Enter your Name" ng-model="feedback.name"><span ng-show="feedbackForm.name.$error.required && !feedbackForm.name.$pristine" class="help-block">Your Name is required.</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" ng-class="{ 'has-error has-feedback' : feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine }">
                                    <label for="emailid" class="col-sm-2 control-label">Email:*</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Enter your Email Address"  ng-model="feedback.email" required>
                                        <span ng-show="(feedbackForm.emailid.$invalid ||feedbackForm.emailid.$error.required) && !feedbackForm.emailid.$pristine" class="help-block">Enter a valid email address.</span>
                                    </div>
                                </div>
            
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-2 control-label" for="subject">Subject:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter the subject">
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="telnum" class="col-sm-2 control-label">Ph&nbsp;No:</label>
                                    <div class="col-sm-10">
                                        <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Enter your Phone Number" ng-model="feedback.tel.number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" ng-class="{ 'has-error' : feedbackForm.message.$error.required && !feedbackForm.message.$pristine }">
                                    <label class="col-sm-2 control-label" for="message">Message:*</label>
                                    <div class="col-sm-10">
                                        <textarea required class="form-control" id="message" name="message" rows="5" placeholder="Enter your Message here" ng-model="feedback.message" ng-required="true"></textarea>
                                        <span ng-show="feedbackForm.message.$error.required && !feedbackForm.message.$pristine" class="help-block">Some Message is required.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button id="submit-button" type="submit" class="btn btn-primary btn-contact" ng-disabled="feedbackForm.$invalid" value="Submit">Send Feedback</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <h3>Get in touch with us</h3>
                            <hr>
                            <p>Question, suggestions, comments or experiences you want to share?</p>
                            <p>We are always looking for feedback from our customers both the good and the bad. Fill in the form or call our customer service which is available 24x7</p>
                            <p class="black-text"><span class="orange">Address:</span>  154 Park Street , Kolkata , India</p>
                            <p class="black-text"><span class="orange">Telephone:</span> 789-057-4515</p>
                            <p class="black-text"><span class="orange">Fax:</span> 866-111-222-3455</p>
                        <div>
                            <br /><br />
                            <div class="alert alert-success" ng-show="!feedbackForm.$invalid"> <a class="close glyphicon glyphicon-remove-circle"></a> <strong>Thanks !</strong> Now you can submit the form successfully </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>About</h3>
        <p>We strive to deliver a level of service that exceeds the expectations of our customers. <br />
          <br />
          If you have any questions about our products or services, please do not hesitate to contact us. We have friendly, knowledgeable representatives available seven days a week to assist you.</p>
      </div>
      <div class="col-md-3">
        <h3>Tweets</h3>
        <p><span>Asif Abdullah</span> <a href="#">@WreckHelp</a><br />
          My car brokedown at NH12 area , near Feluda Dhaba , please suggest some mechanics  </p>
        <p><span>Abhishek Singh</span> <a href="#">@WreckHelp</a><br />
          Amazing Self Help service , fixed my bike without any help .</p>
      </div>
      <div class="col-md-3">
        <h3>Mailing list</h3>
        <p>Subscribe to our mailing list for offers, news updates and more!</p>
        <br />
        <form action="#" method="post" class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">your email:</label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail2" placeholder="your email:">
          </div>
          <button type="submit" class="btn btn-primary">subscribe</button>
        </form>
      </div>
      <div class="col-md-3">
        <h3>Social</h3>
        <p>154 Park Street<br />
          Kolkata - 700017<br />
          India<br />
          <br />
          Phone: 789-057-4515<br />
          Fax: (887) 123-4567<br />
          <br />
        </p>
        <div class="social__icons"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="#" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> </div>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; Copyright WreckHelp. All Rights Reserved.</p>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript">
            function send_special_order() {
                var data1 = $('#name').val();
                var data2 = $('#subject').val();
                var data3 = $('#email').val();
                var data4 = $('#message').val();
        $.ajax({
			type: "POST",
			url: "",
			dataType : "json",
			data: ( {"name" : data1, "subject" : data2, "email" : data3,"message" : data4} ) ,
			   success: function() {
                               
			   },
                           complete: function(){
                                $('#feedback').append('<p>Thank you for sending us a message. Our specialists will contact you as soon as possible.</p><p>Your message details are:</p>\n\
                                <ul>\n\
                                    <li>Name: <b>' + data1 + '</b></li>\n\
                                    <li>Email: <b>' + data3 + '</b></li>\n\
                                    <li>Subject: <b>' + data2 + '</b></li>\n\
                                    <li>Message: <b>' + data4 + '</b></li>\n\
                                </ul>\n\
                                <p>If you want to change your information press the button:\n\
                                <p><a href="#" id="send-more" class="btn btn-primary">edit info</a></p>');
                                $('#contact-form').slideUp();
                                $('#send-more').click(function(e){
                                    e.preventDefault()
                                    $('#contact-form').slideDown();
                                    $('#feedback').html('');
                                });
                           }
        });
}
            $('#contact-form').submit(function() {
                send_special_order();
                return false;
            });
        </script>

        <!-- build:js scripts/main.js -->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
<!-- endbuild -->
</body>
</html>