<!DOCTYPE html>
<html lang="en" ng-app="wreckhelpApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>WreckHelp | Self Help</title>
        <!-- Bootstrap -->
        <!--build:css styles/main.css-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="images/icon/wreckhelp.ico"/>
    <!--endbuild-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header class="sub__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation"> 
      <!-- Brand and toggle get grouped for better mobile display --> 
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <h1 class="navbar-brand"><a href="index.html">WreckHelp</a></h1>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1,#bs-example-navbar-collapse-2"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li class="active"><a href="selfhelp.html">Self Help</a></li>
          <li><a href="roadmap.html">Road Maps</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </nav>
  </div>
</header>
<div class="row heading__block selfhelp_pic nothing no-margin">
      <div class="container text-center">
        <h1 style="color:white;text-align:left ">Self Help</h1>
        <p class="big-paragraph" style="color:white;text-align:left ">We don't bow down , we take every challenges head-on .</p>
      </div>
    </div><br/>
    <div class="container">
    <div class="col-md-4">
              <ul class="breadcrumb breadcrumb-arrow">
                <li><a href="index.html">Home</a> <span class="divider"></span></li>
                <li class="active">Self Help</li>
              </ul>
        </div>
        </div>

<div ng-controller="MenuController">

    <div class="container">
        <div class="row searchbar">
            <input class="form-control" type="search" placeholder="Search by problem" ng-model="searchQuery">
        </div>
    </div>


    <div ng-if="searchQuery" class="custom-container">
        <!--<div class="tab-content">-->
            <ul class="media-list">
                <li class="media" ng-repeat="video in searchValue | filter:{name:searchQuery}">
                    <div class="media-left media_middle">
                        <iframe width="560" height="315" ng-src="{{video.src | trustAsResourceUrl}}" frameborder="0"></iframe>
                    </div>
                    <div class="media-body">
                        <br/>
                        <h3 class="media-heading">{{video.name}}<br/></h3>
                        <p>{{video.description}}</p><br/>
                    </div>
                </li>
            </ul>
        <!--</div>-->
    </div>


    <div ng-if="!searchQuery">
    <div class="container custom-tabs-wrapper">
        <div class="row text-center custom-tabs">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:isSelected(1)}">
                        <a ng-click="select(1)" aria-controls="All" role="tab">All</a>
                    </li>
                    <li role="presentation" ng-class="{active:isSelected(2)}">
                        <a ng-click="select(2)" aria-controls="bikes" role="tab">Bikes</a>
                    </li>
                    <li role="presentation" ng-class="{active:isSelected(3)}">
                        <a ng-click="select(3)" aria-controls="cars" role="tab">Cars</a>
                    </li>
                    <li role="presentation" ng-class="{active:isSelected(4)}">
                        <a ng-click="select(4)" aria-controls="trucks" role="tab">Trucks</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-content" >
            <div class="col-md-8">
                
                <!--<ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:isSelected(1)}">
                        <a ng-click="select(1)" aria-controls="All" role="tab">All</a>
                    </li>
                    <li role="presentation" ng-class="{active:isSelected(2)}">
                        <a ng-click="select(2)" aria-controls="bikes" role="tab">Bikes</a>
                    </li>
                    <li role="presentation" ng-class="{active:isSelected(3)}">
                        <a ng-click="select(3)" aria-controls="cars" role="tab">Cars</a>
                    </li>
                    <li role="presentation" ng-class="{active:isSelected(4)}">
                        <a ng-click="select(4)" aria-controls="trucks" role="tab">Trucks</a>
                    </li>
                </ul>--><br />

                <div class="tab-content">
                    <ul class="media-list tab-pane fade in active">
                        <li class="media" ng-repeat="video in videos | filter:filtText">
                            <div class="media-left media_middle">
                                    <iframe width="560" height="315" ng-src="{{video.src | trustAsResourceUrl}}" frameborder="0"></iframe>
                            </div>
                            <div class="media-body">
                            <br/>
                                <h3 class="media-head">{{video.name}}</h3>
                                <p>{{video.description}}</p><br />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div> <!-- ----- changed-->
                <div class="col-md-4">
                    <!--<ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{active:isSelected(1)}">
                            <a ng-click="select(1)" aria-controls="All" role="tab">All</a>
                        </li>
                        <li role="presentation" ng-class="{active:isSelected(2)}">
                            <a ng-click="select(2)" aria-controls="bikes" role="tab">Bikes</a>
                        </li>
                        <li role="presentation" ng-class="{active:isSelected(3)}">
                            <a ng-click="select(3)" aria-controls="cars" role="tab">Cars</a>
                        </li>
                        <li role="presentation" ng-class="{active:isSelected(4)}">
                            <a ng-click="select(4)" aria-controls="trucks" role="tab">Trucks</a>
                        </li>
                    </ul>--><br />
                    <div class="tab-content">
                    <ul class="media-list tab-pane fade in active">
                        <li class="media" ng-repeat="blog in blogs |
                         filter:filtText">
                            <div class="icon-item"> <img ng-src="{{blog.src}}" alt="small-post-img" class="img-responsive">
                            <br/>
                                <h4><a href="#">{{blog.title}}</a></h4><br/>
                                <p>{{blog.article}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
                </div>
                </div>
            </div>
    </div>
</div>
    <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>About</h3>
        <p>We strive to deliver a level of service that exceeds the expectations of our customers. <br />
          <br />
          If you have any questions about our products or services, please do not hesitate to contact us. We have friendly, knowledgeable representatives available seven days a week to assist you.</p>
      </div>
      <div class="col-md-3">
        <h3>Tweets</h3>
        <p><span>Asif Abdullah</span> <a href="#">@WreckHelp</a><br />
          My car brokedown at NH12 area , near Feluda Dhaba , please suggest some mechanics  </p>
        <p><span>Abhishek Singh</span> <a href="#">@WreckHelp</a><br />
          Amazing Self Help service , fixed my bike without any help .</p>
      </div>
      <div class="col-md-3">
        <h3>Mailing list</h3>
        <p>Subscribe to our mailing list for offers, news updates and more!</p>
        <br />
        <form action="#" method="post" class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">your email:</label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail2" placeholder="your email:">
          </div>
          <button type="submit" class="btn btn-primary">subscribe</button>
        </form>
      </div>
      <div class="col-md-3">
        <h3>Social</h3>
        <p>154 Park Street<br />
          Kolkata - 700017<br />
          India<br />
          <br />
          Phone: 789-057-4515<br />
          Fax: (887) 123-4567<br />
          <br />
        </p>
        <div class="social__icons"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="#" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> </div>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; Copyright WreckHelp. All Rights Reserved.</p>
  </div>
</footer>


    <!-- build:js scripts/main.js -->
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
<!-- endbuild -->

</body>

</html>
